/* .root{
    
   background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
   


} */




body{
    background: #FFFFFF;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}   
h1, h2, h3,p{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.5; 
} 
 .visually-hidden{
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            white-space: nowrap;
            clip-path: inset(100%);
}
        
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
img{
    display: block;
    max-width: 100%;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    border-bottom: #e7e9fc 1px solid;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    font-style: normal;
    text-decoration: none;
}
.navigation .logo {
    display: inline-block;
    margin-right: 76px;

}
.logostudio{
    color: #F4F4FD;
}
.header .logostudio{
    color: #2E2F42;
}

.logo{
     /* margin-bottom: 18px; */
     
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.container-logo{
    display:block;
    margin-right: 76px;
}  


.contact-list{
    display: flex;
    gap: 40px;
    justify-content: space-between;    
}

.navigation-list{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.current::after{
    content: "";
    position: absolute;
    
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
}


.contact-list .link{
    display: block;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .link{
    padding: 24px 0;
    position: relative;

    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.navigation-list .link:active {
    color: #404BBF;
    text-transform: none;
}

.current {
    color: #404bbf;
  }

.visually-hidden {
    visibility: hidden;
    
}

.titleone {
    display: block;
    width: 496px;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    /* padding: 48px; */
    color: #FFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align:center;
}
.titletwo {
    display: block;
    margin-bottom: 72px;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.titlethree {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 188px 0;
}


.button-hero{
    display:block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
    /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property:background-color; */
    
}
.button-hero:hover, .button-hero:focus {
    background-color: #404BBF;
}



.contact-list .link:hover, .contact-list .link:focus, .navigation-list .link:hover, .navigation-list .link:focus{
    color: #404BBF;
}
    
.socials-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover, .our-team .socials-link:focus{
    background-color: #404BBF;
}

.feature-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
}

.section-features {
    padding: 120px 0;
}
.list-features {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.feature-item {
    width: calc((100% - 72px) / 4)
}
.section-features .list-features .titlethree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    line-height: 1.20;
}
/* svg file */
.icon-social{
    fill:#f4f4fd;
}
.our-team {
    padding: 120px 0;
    background-color: #F4F4FD;
}
 .list-team {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.our-team .container-image {
    margin: 0 auto;
}
.our-team .titletwo {
    line-height: 1.11;
    text-align: center; 
}
.team-card .titlethree {
    margin-bottom: 8px;
    line-height: 1.20;
    text-align: center;
    
}
.team-card-paragraf{
    padding-top:8px;
}


.list-team .team-card {
    justify-content: space-between;
    background-color: #FFFFFF;
}

.team-card {
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    font-size: 16px;
}
.team-card .under-img {
    display: block;
    padding: 32px 0;
}

.list-portfolio {
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-card{
    flex-basis: calc((100% - 48px) / 3);
    margin: 0 auto;
    border-top: none;
    background-color: #FFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.portfolio:hover .portfolio-card {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transform: translate(0%);
}

.portfolio-container-img{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.32px;
    visibility: hidden;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: transform;
    transform:translateY(100%);
}

.portfolio-card:hover .overlay{
    border-radius: 4px 4px 0 0;
    visibility: visible;
    transform:translateY(0);
}

.portfolio{
    padding: 120px 0;
    background-color: #FFFFFF;
}

.portfolio .titletwo {
    line-height: 1.11;
    text-align: center;
}
.portfolio-card .titlethree {
    margin-bottom: 8px;
    line-height: 1.20;

}
.portfolio .under-img {
    display: block;
    margin: 0 auto;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.socials-link:hover, .socials-link:focus{
    background-color: #404bbf;
}
.footer {
    /* display: flex; */
    align-items: baseline;
    border-top-width: 1px;
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-left{
    margin-right: 120px;
}

.footer-text {
    display: block;
    max-width: 264px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    font-weight: 500;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 120px;
}
.social-icons-list{
    gap: 24px;
    justify-content: center;
    width: 100%;
}
.footer .container{
    display: flex;
    align-items:baseline;

}

footer .social-icons-list{
    gap:16px;
}
.icon-s-item{
    width: 40px;
    height: 40px;
}
.socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: #4D5AE5;
}
.footer .socials-link:focus, .footer .socials-link:hover{
    background-color: #31d0aa;
}
.social-text-footer{
color: #FFFFFF;
margin-bottom: 16px;
font-weight: 500;
}



